In [1]:
import pandas as pd

In [20]:
df = pd.read_csv("bad_data/data_021119920_010222.csv")

In [21]:
df.head()

,full_name,selling_price,new-price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.2 Lakh*,NaN,2012.0,Individual,"1,20,000 kms",First Owner,Petrol,Manual,Mileage19.7 kmpl,Engine796 CC,Max Power46.3 bhp,Seats5
1,Hyundai Grand i10 Asta,5.5 Lakh*,New Car (On-Road Price) : Rs.7.11-7.48 Lakh*,2016.0,Individual,"20,000 kms",First Owner,Petrol,Manual,Mileage18.9 kmpl,Engine1197 CC,Max Power82 bhp,Seats5
2,Hyundai i20 Asta,2.15 Lakh*,NaN,2010.0,Individual,"60,000 kms",First Owner,Petrol,Manual,Mileage17.0 kmpl,Engine1197 CC,Max Power80 bhp,Seats5
3,Maruti Alto K10 2010-2014 VXI,2.26 Lakh*,NaN,2012.0,Individual,"37,000 kms",First Owner,Petrol,Manual,Mileage20.92 kmpl,Engine998 CC,Max Power67.1 bhp,Seats5
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.7 Lakh*,New Car (On-Road Price) : Rs.10.14-13.79 Lakh*,2015.0,Dealer,"30,000 kms",First Owner,Diesel,Manual,Mileage22.77 kmpl,Engine1498 CC,Max Power98.59 bhp,Seats5

In [22]:
df = df.dropna()

In [25]:
df['seats'] = df['seats'].apply(lambda x : "'" + str(x) + "'")
df['seats'] = df['seats'].str.split('Seats', expand=True)[1].astype(int)

ValueError: invalid literal for int() with base 10: "5'"

In [24]:
df[df['seats'] == "5"]

Empty DataFrame
Columns: [full_name, selling_price, new-price, year, seller_type, km_driven, owner_type, fuel_type, transmission_type, mileage, engine, max_power, seats]
Index: []